package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}

{{#model}}
case class {{classname}} ({{#vars}}
  {{#description}}
  {{newline}}/**{{newline}} {{description}}{{newline}}*/{{newline}}{{/description}}{{^description}}{{newline}}{{/description}}
  {{name}}: {{#isNotRequired}}Option[{{/isNotRequired}}{{datatype}}{{#isNotRequired}}]{{/isNotRequired}}  {{#hasMore}},{{/hasMore}}
  {{/vars}}
)
{{/model}}
{{/models}}