package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}
{{#model}}
case class {{classname}} (
  {{#vars}}

  {{#description}}/* {{description}} */
  {{/description}}
  {{name}}: {{#notRequired}}Option[{{/notRequired}}{{datatype}}{{#notRequired}}]{{/notRequired}}{{#notRequired}} = None{{/notRequired}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}}
)
{{/model}}
{{/models}}