<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Temperature Monitor</title>
<script type="text/javascript" src="hc/jquery-1.6.1-min.js"></script>
<script type="text/javascript" src="hc/highcharts.js"></script>
<script type="text/javascript" src="lib/jquery-1.8.0.min.js"></script>
<script type="text/javascript">

  var inputs = ["zone_0", "zone_1", "zone_2", "zone_3", "zone_4", "zone_5", "zone_6", "zone_7"];
  var chart;

  function dispatchMessage(obj) {
    var values = {};
    var d = new Date();

    obj.forEach(function(o){
      var time = new Date(o.timestamp).getTime() - d.getTimezoneOffset() * 60000;
      var y = o.average;
      if(values[o.position]) {
        values[o.position].push([time, y]);
      }
      else {
        values[o.position] = [[time, y]];
      }
    });

    for(var key in values) {
      var name = "zone_" + key;
      chart.series.forEach(function(c) {
        if(c.name == name) {
          c.setData(values[key]);
        }
      })
    }
  }

  Highcharts.setOptions({
    global : { useUTC : true }
  });

  (function($) {
    $.QueryString = (function(a) {
      if (a == "") return {};
      var b = {};
      for (var i = 0; i < a.length; ++i) {
          var p=a[i].split('=');
          if (p.length != 2) continue;
          b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
      return b;
    })(window.location.search.substr(1).split('&'))
  })(jQuery);

  $(document).ready(
    function() {
      var series = [];

      for(i in inputs){
        series.push({
          name : inputs[i],
          data : (function() { []; })()
        });
      }
      
      chart = new Highcharts.Chart({
        chart : {
          renderTo : 'container',
          defaultSeriesType : 'line',
          marginRight : 10,
          events : {
            load : function() {
              var series = this.series[0];
            }
          }
        },
        title : {
          text : 'Temperature'
        },
        xAxis : {
          type : 'datetime',
          tickPixelInterval : 150
        },
        yAxis : {
          title : { text : 'deg F' },
          plotLines : [ {
            value : 0,
            width : 1,
            color : '#808080'
          } ]
        },
        tooltip : {
          formatter : function() {
            return '<b>'
              + this.series.name
              + '</b><br/>'
              + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x)
              + '<br/>'
              + Highcharts.numberFormat(this.y, 2);
          }
        },
        legend : { enabled : true },
        exporting : { enabled : true },
        series : series
    });
  });
  $(window).load(function() {
    var resolution = $.QueryString["res"];
    if(!resolution)
      resolution = "hour"

    $.ajax({
      url: "/hydronics/zones?resolution=" + resolution + "&limit=100"
    }).done(function ( data ) {
      dispatchMessage(data);
    });
  });
</script>
</head>
<body> 
<div id="container" style="width: 80%; height: 800px; margin: 0 auto"></div>
</body>
</html>
