<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Temperature Monitor</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="hc/highcharts.js"></script>
<script type="text/javascript" src="lib/jquery-1.8.0.min.js"></script>
<script type="text/javascript">

  var inputs = ["zone_4", "zone_6", "zone_7"];
  var chart;

  function dispatchMessage(obj) {
    obj.forEach(function(o){
      o.timestamp = new Date(o.timestamp);

      chart.series.forEach(function(c) {
        var name = "zone_" + o.position;
        if(c.name == name) {
          var time = new Date(o.timestamp).getTime();
          var y = o.value;
          c.addPoint([time, y], true, false);
        }
      });
    });
  }

  Highcharts.setOptions({
    global : { useUTC : true }
  });
  $(document).ready(
      function() {
        var series = [];

        for(i in inputs){
          series.push({
            name : inputs[i],
            data : (function() { []; })()
          });
        }
        
        chart = new Highcharts.Chart({
          chart : {
            renderTo : 'container',
            defaultSeriesType : 'line',
            marginRight : 10,
            events : {
              load : function() {
                var series = this.series[0];
              }
            }
          },
          title : {
            text : 'Temperature'
          },
          xAxis : {
            type : 'datetime',
            tickPixelInterval : 150
          },
          yAxis : {
            title : { text : 'deg F' },
            plotLines : [ {
              value : 0,
              width : 1,
              color : '#808080'
            } ]
          },
          tooltip : {
            formatter : function() {
              return '<b>'
                + this.series.name
                + '</b><br/>'
                + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x)
                + '<br/>'
                + Highcharts.numberFormat(this.y, 2);
            }
          },
          legend : { enabled : true },
          exporting : { enabled : true },
          series : series
    });
  });
  $(window).load(function() {
    $.ajax({
      url: "/hydronics/zones?resolution=hour&limit=50"
    }).done(function ( data ) {
      dispatchMessage(data);
    });
  });
</script>
</head>
<body> 
<div id="container" style="width: 80%; height: 800px; margin: 0 auto"></div>
</body>
</html>
