<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <listener>
    <listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
  </listener>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/admin/css/*</url-pattern>
    <url-pattern>/admin/lib/*.js</url-pattern>
    <url-pattern>/admin/images/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.scalatra.LifeCycle</param-name>
    <param-value>com.wordnik.swagger.app.SwaggerApp</param-value>
  </context-param>
</web-app>
